<p>Hey <%= @user.first_name %>,<p>

<p><%= @booking.user %> wants to hitch a ride with you on <%= @ride.date %>
from <%= @ride.start_location %> to <%= @ride.end_location %>. If you want to decline,
simply click this link <%= @url %>.</p>

<p>Love,</p>
<p>The Hitchr Team</p>
