<div class="tabs">
  <ul class ="tab-links">
    <li class="active"><a href="#tab1">Profile</a></li>
    <li><a href="#tab2">My Reviews</a></li>
    <% if current_user == @user %>
      <li><a href="#tab3">My Rides</a></li>
      <li><a href="#tab4">My Bookings</a></li>
      <li><a href="#tab5">Ride Feedback</a></li>
    <%end%>
  </ul>

<div class="tab-content">

  <div class="tab active" id="tab1">
    <h1> User Profile Page</h1>
        <%= image_tag @user.avatar.url, class: "user-avatar"%><br />

        <% rating_total = [0] %>
        <% @user.bookings.each do |booking| %>
          <% rating_total << booking.rating %>
        <% end %>
        <% total = rating_total.compact %>
        <% rating_average = total.inject(:+) / total.count - 1 %>
        <div class="rateYo stars-readonly" data-rating=<% rating_average %>></div>
          <% total.count - 1%> ratings
        <br />

        <%= @user.first_name.capitalize %> | <%= @user.last_name.capitalize %><br />
        <%= @user.email %><br />
        <%= @user.gender %><br />
        <%= @user.date_of_birth.strftime("%b %-d, %Y") %><br />
        <%= number_to_phone(@user.phone_number, area_code: true) %><br>
        <% if current_user == @user %>
          <%= link_to "Edit profile", edit_user_path(@user) %><br>
          <%= link_to "Delete User profile", user_path(@user), :method => :delete, data: {confirm: "Delete User: #{@user.first_name.capitalize} #{@user.last_name.capitalize}?"} %>

        <% end %>
    <div>
      <% if current_user == @user %>
        <%= link_to "Offer a Ride", new_ride_path(@user)%>
      <%end%>
    </div>
  </div>

  <div class="tab" id="tab2">
    <br /> <h4>Reviews about me: </h4>
    <div class="user-reviews-container">
    <% @user.bookings.each do |booking| %>
    <div class="rateYo stars" data-rating="<%= booking.rating %>">
    </div>
    <%= booking.review %><br><br>
    <% end %>
    </div>
  </div>

    <div class="tab" id="tab3">
        <%= link_to "Offer a Ride", new_ride_path(@user)%><br>
      <br /> <h4>My Rides Offered: </h4>
      <% @rides.reverse.each do |ride| %>
        <% arr = [0] %>
        <% ride.bookings.each { |booking| arr << booking.seats} %>
        <% total_seats = arr.compact.inject(:+) %>

        <ul>
          <li>
            <p><b>From:</b> <%= ride.start_location %></p>
            <p><b>To:</b> <%= ride.end_location %></p>
            <p><b>Date:</b> <%= ride.date.strftime("%b %-d, %Y") %></p>
            <p><b>Time:</b> <%= ride.time.strftime("%-l:%M %p") %></p>
            <p><b>Seats Available:</b><%= ride.seats_available - total_seats < 0 ? 0 : ride.seats_available - total_seats %></p>
            <p><b>Price:</b> $<%= ride.price %></p>
            <p><b>Comments:</b> <%= ride.comments %></p>
            <p><b>Status: </b> <%= ride.completed ? "Complete" : "Not Complete" %></p>

            <% if ride.completed == false %>
              <i><%= link_to "Cancel Ride", ride_path(ride), :method => :delete %></i><br />
              <% if ride.date < Date.today %>
                <i><%= link_to "Ride Complete", ride_completed_path(ride), :method => :delete %></i><br />
              <% end %>
            <% end %>
            <br />

              <h5>Hitches on this ride: </h5>
              <ul>
                <li>
                  <% ride.bookings.each do |booking| %>
                    <% if booking.user %>
                      <p><%= link_to booking.user.first_name.capitalize, booking.user  %></p>
                      <p><%=  booking.seats %></p>
                      <p><%=  booking.created_at %></p>
                      <% if ride.completed == false %>
                        <%= link_to "Decline Booking", booking_path(booking), :method => :delete %><br />
                      <% end %>
                    <% end %>
                  <% end %>
                </li><br><br>
              </ul>

          </li>
          <p>------------------------------------------------------</p>
        </ul>
      <% end %>
    </div>


    <div class="tab" id="tab4">
      <br /><h4>My Bookings: </h4>
      <ul>
        <% @user.bookings.each do |booking| %>
          <% if booking.ride && booking.ride.completed == false %>
              <li><h5><b><%= booking.ride.start_location %> to <%= booking.ride.end_location %></b></h5>
                <p><%= link_to "View Ride", booking.ride %></p>
                  <p><b>Your Driver:</b> <%= booking.ride.user.first_name.capitalize %> <%= booking.ride.user.last_name.capitalize %><br>
                     <b>Date:</b> <%= booking.ride.date.strftime("%b %-d, %Y") %> <br>
                     <b>Seats You Requested:</b> <%= booking.seats %></p>
                <% if current_user == booking.user %>
                  <%= link_to "Cancel Booking", booking_path(booking), :method => :delete %><br />
                <% end %>
            </li><br><br>
            <% end %>
          <%= link_to "Hitch a new ride!", root_path %><br />
         <% end %>
      </ul>
    </div>


    <div class="tab" id="tab5">
        <br /><h4>Ride Feedback: </h4>
            <% @user.bookings.each do |booking| %>
            <% if booking.ride && booking.ride.completed? %>

                <li>	<h5><b><%= booking.ride.start_location %> to <%= booking.ride.end_location %></b></h5>
                  <p><b>Your Driver:</b> <%= booking.ride.user.first_name.capitalize %> <%= booking.ride.user.last_name.capitalize %><br>
                     <b>Date:</b> <%= booking.ride.date.strftime("%b %-d, %Y") %> <br>
                     <b>Seats You Requested:</b> <%= booking.seats %></p>
                  <br>

                  <% unless booking.review %>
                    <%= form_tag "/review", method: :put do %>
                      <div class="rateYo"></div>
                      <div class="field">
                        <%= hidden_field_tag :rating, params[:rating] %>
                      </div>
                      <div class="field">
                        <%= text_field_tag :review, params[:review], placeholder: "Leave a Review"%>
                      </div>
                      <div class="actions">
                        <%= submit_tag %>
                      </div>
                    <% end %>
                  <% end %>

              </li><br><br>
            <% end %>
        <% end %>
    </div>
  </div>
</div>
