<h1> User Profile Page</h1>

<div class="user-info">
    <%= @user.first_name %> | <%= @user.last_name %><br />
    <%= @user.email %><br />
    <%= @user.gender %><br />
    <%= @user.date_of_birth %><br />
    <!-- ADD THE PICTURE! -->
    <%= link_to "Edit profile", edit_user_path(@user) %>
</div>
<div >
  <%= link_to "Add Review", new_user_review_path(@user)%>
  <!--PUT ERB TAGS ON THIS AND FIX
   render @user.reviews -->
</div>
<div>
  <%= link_to "Offer a Ride", new_ride_path(@user)%>
</div>

<div>
  <br /> <h4>Review about me: </h4>
  <% @user.reviews.each do |review| %>
  <div class="rateYo stars" data-rating="<%= review.rating %>">
  </div>
  <!-- <%= review.rating %> -->
  <%= review.review %>
  <% end %>

</div>


  <br /> <h4>Reviews about me: </h4>
</div>

<div>
  <br /> <h4>My Rides Offered: </h4>
  <% @rides.each do |ride| %>
    <li>
      <p>From: <%= ride.start_location %></p>
      <p>To: <%= ride.end_location %></p>
      <p>Date: <%= ride.date %></p>
      <p> Time: <%= ride.time %></p>
      <p>Seats Available: <%= ride.seats_available %></p>
      <p>Comments: <%= ride.comments %></p><br><br>
  </li>
  <% end %>
</div>


<div>
  <br /><h4>My Bookings: </h4>
</div>
