

<div class="wrapper">

    <div id="wall_1" class="image" data-stellar-background-ratio="0.3">  >
      <h1 class="title">Hitchr ride with us!</h1>
      <div class="search-form" >
      <%= form_tag search_path, method: "get", class: "search" do %>
      <%= label_tag "From:", nil, class: 'search-text' %>
      <%= text_field_tag :start_location, params[:start_location] %>
      <%= label_tag "To:", nil, class: 'search-text' %>
      <%= text_field_tag :end_location, params[:end_location] %>
      <%= submit_tag "Hitch a ride!", name: nil, class: "search-button" %>
      <% end %>
    </div>
    </div>


    <div id="content_1" class="content">
        <h1>About</h1>
        <p>Hitchr is just, like totally great</p>
        <div class="ride-list">
          <!-- Search results go here -->
        </div>
    </div>

    <div id="wall_2" class="image" data-stellar-background-ratio="0.3"  >
    </div>


    <div id="content_2" class="content" >

        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>

  </div>
