
<!-- First wall  -->
    <div id="outer-wrap" style="width: 100%; height: 600px;">
      <div id="video-wrap" class="video-wrap">
          <video id="my-video" preload="metadata" autoplay loop>
              <source src="<%= asset_path 'video.mp4' %>" type="video/mp4">
          </video>
          <div class="content-container">
            <div class="content-overlay">
                <!-- <h1 id="main-title">HITCHR</h1> -->
                <div class="title"><%= image_tag('title.png')%></div>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="search-form" >
              <%= form_tag search_path, method: "get", class: "search" do %>

              <div class="search_wrap" id="start_location_wrap">
                <div class="search_wrap_icon"><%= image_tag "Start_4Real.png" %></div>
                <%= text_field_tag :start_location, params[:start_location], placeholder: "Where from?" %>
              </div>

              <div class="search_wrap" id="end_location_wrap">
                <div class="search_wrap_icon"><%= image_tag "end_for_real.png" %></div>
              <%= text_field_tag :end_location, params[:end_location], placeholder: "Where to?" %>
              </div>

              <div id="search_date_wrap">
              <%= date_field :date, params[:date], min: Date.today, include_blank: true, class: 'date-search' %>
              <%= submit_tag "Search", name: nil, class: "search-button" %>
              <% end %>
              </div>    
            </div>
          </div>
      </div>
    </div>
    <!-- first wall end  -->


    <!-- second wall  -->
    <div id="content_1" class="content" >
      <div class="wall2-info-container">
      <h2 class="info-1">Travel anywhere</h2>
      <h3 class="info-3">Discover hard to get places and connect with friends</h3>
      </div>
      <h2 class="info-2">Hitchr opens up a world of posibilities</h2>
      <h3 class="info-3">Creat a bookind | Post a rid | travel the distance </h3>
    </div>
 <!--  second wall end  -->

<!-- third wall  -->
    <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="<%= asset_path "secondhp.jpg" %>" data-natural-width="1400" data-natural-height="900" style="height: 446px;"></div>
    <!-- third wall end -->

    <!-- fourth wall  -->
    <div id="content_2" class="content" >
      <div class="wall2-info-container"></div>
    <div class="ride-list">
      <!-- Search results go here -->
    </div>

    <div class="placeholder-info">
      <% @rides.reverse.each do |ride| %>
        <div class="grid">
          <figure class="effect-sadie">
            <figcaption>
              <h2>Time: <%= ride.time.strftime("%-l:%M %p") %><span><br>Price: $<%= ride.price %></span></h2>
              <p>Date: <%= ride.date.strftime("%b %-d, %Y") %><br>Driver: <%= ride.user.first_name %></p>
              <a href="<%= ride_path(ride) %>">View Ride</a>
            </figcaption>
          </figure>
        </div>
      <%end%>
    </div>
  </div>
    <!-- fourth wall end  -->
