

    <!-- <div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path "homepagepic.jpg" %>" >
      <div class="search-form" >
      <%= form_tag search_path, method: "get", class: "search" do %>
      <%= label_tag "From:", nil, class: 'search-text' %>
      <%= text_field_tag :start_location, params[:start_location] %>
      <%= label_tag "To:", nil, class: 'search-text' %>
      <%= text_field_tag :end_location, params[:end_location] %>
      <%= submit_tag "Hitch a ride!", name: nil, class: "search-button" %>
      <% end %>
    </div>
    </div> -->

    <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="-3" data-image-src="<%= asset_path "homepagepic.jpg" %>" data-natural-width="1400" data-natural-height="900" style="height: 546px;" data-ios-fix=true>
      <h1 class="title"></h1>

    </div>
    <div id="content_1" class="content" data-stellar-vertical-offset="150">
      <div class="search-form" >
        <%= form_tag search_path, method: "get", class: "search" do %>
        <%= label_tag "From:", nil, class: 'search-text' %>
        <%= text_field_tag :start_location, params[:start_location] %>
        <%= label_tag "To:", nil, class: 'search-text' %>
        <%= text_field_tag :end_location, params[:end_location] %>
        <%= submit_tag "Hitch a ride!", name: nil, class: "search-button" %>
        <% end %>
      </div>

        <div class="ride-list">
          <!-- Search results go here -->
        </div>
    </div>

    <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="<%= asset_path "secondhp.jpg" %>" data-natural-width="1400" data-natural-height="900" style="height: 446px;"></div>
    <div id="content_2" class="content" ></div>
