<h1>Hitchr!</h1>

<ul class="rides">
<% @rides.each do |ride| %>
  <div class="rides-container">
    <li>
      <!-- ADD IN  Avatar, Name, Rating  -->
      <br>
      <p><%= ride.user.first_name %> <%= ride.user.last_name %></p>
      <p>From: <%= ride.start_location %></p>
      <p>To: <%= ride.end_location %></p>
      <p>Date: <%= ride.date.strftime("%b %-d, %Y") %></p>
      <p> Time: <%= ride.time.strftime("%-l:%M %p") %></p>
      <p>Seats Available: <%= ride.seats_available %></p>
      <p>Comments: <%= ride.comments %></p>
      <%= link_to "View Ride", ride_path(ride) %>
      <br>
  </li>
  </div>
<% end %>
</ul>

<h2>Rides</h2>
<% @rides.each do |ride| %>
				<div class="grid">
					<figure class="effect-winston">
					<%= image_tag ride.user.avatar.url %> 
						<figcaption>
							<h2>Jolly <span>Winston</span></h2>
							<p>
								<a href="#"><i class="fa fa-fw fa-star-o"></i></a>
								<a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
								<a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
							</p>
						</figcaption>
					</figure>
					<figure class="effect-winston">
						<img src="img/1.jpg" alt="img01"/>
						<figcaption>
							<h2>Jolly <span>Winston</span></h2>
							<p>
								<a href="#"><i class="fa fa-fw fa-star-o"></i></a>
								<a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
								<a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
							</p>
						</figcaption>
					</figure>
				</div>
        <%end%>
