<div class="show_container">
  <h1 class="header">Book this ride</h1>
      <div class="user_info">
        <p><%=image_tag @ride.user.avatar.url%></p>
          <h2><%= @ride.user.first_name %> <%= @ride.user.last_name %></h2>
          <p>From:  <%= @ride.start_location %></p>
          <p>To:  <%= @ride.end_location %></p>
          <h5>Date:  <%= @ride.date.strftime("%b %-d, %Y") %></h5>
          <h5>Departure:  <%= @ride.time.strftime("%-l:%M %p") %></h5>
          <p>Seats Available:  <%= @ride.seats_available %></p>
          <p>Comments:  <%= @ride.comments %></p><br>
        </div>
          <%= render "bookings/form" %>
    <div class="back_to_rides">
      <%= link_to "Back to All Rides", rides_path, class: "back_to_rides_a"%>
    </div>
  </div>
</div>
