
<div class="show-header">

</div>
<div class="show_container">
  <h1 class="header">Ride Info</h1>
      <div class="user_info">
        <div class="picture_div">
          <h3 class="driver-text">Driver :</h3>
          <h2 class="driver-link"><%= link_to "#{@ride.user.first_name} #{@ride.user.last_name}", user_path(@ride.user), class: "driver-name" %></h2>
          <p><%=image_tag @ride.user.avatar.url , class: "user-avatar"%></p>
        </div>
            <div class="details">
              <h3>Ride Details:</h3>
                <p>From:  <%= @ride.start_location %></p>
                <p>To:  <%= @ride.end_location %></p>
                <p>Date:  <%= @ride.date.strftime("%b %-d, %Y") %></p>
                <p>Departure:  <%= @ride.time.strftime("%-l:%M %p") %></p>
                <p>Seats Available:  <%= @ride.seats_available %></p>
                <p>Price: $<%= @ride.price %></p>
            </div>
        </div>
        <div class="comments_style">
          <h3>Comments: </h3><p> <%= @ride.comments %></p><br>
        </div>
        <div class="back_to_rides">
          <% unless @ride.user == current_user %>
            <%= render "bookings/form" %>
          <% end %>
          <%= link_to "Back to All Rides", rides_path, class: "back_to_rides_a"%>
        </div>
  </div>
