
<div class="show-header">

</div>
<div class="show_container">
  <div class="show_content_container">

  <h1 class="header">Ride Info</h1>
      <div class="user_info">
        <div class="picture_div">
          <h3 class="driver-text">Driver:</h3>
          <h2 class="driver-link"><%= link_to "#{@ride.user.first_name.capitalize} #{@ride.user.last_name.capitalize}", user_path(@ride.user), class: "driver-name" %></h2>
          <p><%=image_tag @ride.user.avatar.url , class: "user-avatar"%></p>
        </div>

        <!-- Available Seats incrementation -->
          <% arr = [0] %>
          <% @ride.bookings.each { |booking| arr << booking.seats} %>
          <% total_seats = arr.compact.inject(:+) %>

            <div class="details">

                <p>From: <%= @ride.start_location %></p>
                <p>To: <%= @ride.end_location %></p>
                <p><%= @ride.date.strftime("%b %-d, %Y") %> | <%= @ride.time.strftime("%-l:%M %p") %></p>
                <p><%= pluralize(@ride.seats_available - total_seats < 0 ? 0 : @ride.seats_available - total_seats, "seat") %> available</p>
                <p>$<%= @ride.price %> per seat</p>
            </div>
        </div>
        <div class="comments_style">

          <!-- Average Rating of Driver -->

          <div class="rateYo stars-readonly ride_show_stars" data-rating=<%= @average_rating %>></div>

            Rated by <%= pluralize(@total_rating.length, "hitchr") %>
          <br />

          <h3>Comments: </h3><p> <%= @ride.comments %></p><br>
        </div>
        <div class="back_to_rides">
          <!-- Allow User to Book a seat if ride is not complete, and they are not the driver -->
          <% unless current_user == @ride.user || @ride.completed == true %>
            <%= render "bookings/form" %>
          <% end %>
          <%= link_to "Back to Home", root_path, class: "back_to_rides_a"%>
        </div>
      </div>
  </div>
